h1 {
    color: blue;
}

a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.5em 1.2em;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
    background-color: #555;
}

