h1 {
    color: blue;
}

a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.5em 1.2em;
    text-transform: uppercase;
}

a:hover {
    background-color: #555;
    cursor: pointer;
}

img {
    vertical-align: top;
    padding: 20px;
    width: 30%;
    height: 50%;
    border-radius: 50px;
}

